
<div id="media_item_comment">
	
<h5><%= media_item_comment.user.login %> <%= media_item_comment.created_on %> </h5>	
<h6><%= media_item_comment.title %> </h6>

<%= media_item_comment.body %>

</div>
